<% require 'active_support/all' %>
<% instance_variable_set("@base_data_file", data.kingsfoodmarkets.KF_080919_Email_ZETA.KF_080919_Email_ZETA) %>
<% @base_data_file.each{|variable, value| instance_variable_set("@base_#{variable}", value)} %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
   <title>
        <%=@base_title%>
    </title>
    <style type="text/css">
    body {
        margin: 0;
    }

    .live-text-section {
        font-family: arial;
        line-height: 1.5;

    }

    .live-text-container {
        margin: 20px 45px;
    }

    .live-text-link {
        color: #e98003;
    }

    .mobile-break {
        display: inline-block;
    }


    .desktop-table {
        display: table;
    }

    .desktop-table-row {
        display: table-row;
    }

    .mobile-table {
        display: none;
    }

    .mobile-table-row {
        display: none;
    }

    </style>


    <style type="text/css" data-embed>
      /* This style block will be ignored for inlining when running 'grunt build' and will not be stripped from the header */

      /*  Media queries */

      /* Define all styles in media queries using attribute selectors in order to avoid Yahoo mail rendering the mobile version of the email for desktop */

     #VWPLINK {
            background-color: <%=@base_background_color%>  !important;
        }

      @media screen and (max-width: 600px) {

          .desktop-table {
              display: none !important;
          }

          .desktop-table-row {
              display: none !important;
          }

          .mobile-table {
              display: table !important;
          }

          .mobile-table-row {
              display: table-row !important;
          }

          .mobile-break {
              display: block;
          }

          td img {
              width: 100%;
              /*display: block;*/
              max-width: 100%;
              height: auto;
          }

          #table-container {
              width: 100%;
          }

          .body-container {
              padding: 15px;
          }
      }
    </style>
  </head>
  <body  bgcolor="<%=@base_background_color%>" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="margin:0; padding:0;" >
      <!--
      Responsive framework: Antwort v1.0 - https://github.com/InterNations/antwort/wiki/Columns-to-Rows-(Version-1.0)

      * Force 100% width on aligned tables
      * Use multiple aligned tables for columns
      * Tables must have a fixed pixel width
      * 'force-row' class forces the tables into rows on mobile
      * Include an Outlook only wrapper table
    -->

     <!-- 100% background wrapper -->
    <table id="table-container" align="center" border="0" width="600" height="100%" cellpadding="0" cellspacing="0" bgcolor="<%=@base_background_color%>">
        <tr>
          <td>
            <!-- 600px container -->
            <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">

        <!-- Header logo -->
              <tr>
               <td>
                <table width="100%"  border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#353535">          
                    <tr class="desktop-table-row">
                        <td valign="top" colspan="2" rowspan="2">
                                <a href="<%=@base_weekly_circular_link%>">
                                        <img class="responsive" alt="<%=@base_weekly_circular_alt%>" title="<%=@base_weekly_circular_alt%>" src="images/header/KF_offer_email_01_d_600_01_v2.jpg" width="100" height="115" border="0"></a></td>
                        <td valign="top" colspan="2" rowspan="2">
                                <a href="<%=@base_chef_prepared_link%>">
                                        <img class="responsive" alt="<%=@base_chef_prepared_alt%>" title="<%=@base_chef_prepared_alt%>" src="images/header/KF_offer_email_01_d_600_02.jpg" width="87" height="115" border="0"></a></td>
                        <td valign="top" rowspan="2">
                                <a href="<%=@base_logo_link%>">
                                        <img class="responsive" alt="<%=@base_logo_alt%>" title="<%=@base_logo_alt%>"  src="images/header/KF_offer_email_01_d_600_03.jpg" width="225" height="115" border="0" border="0"></a></td>
                        <td valign="top" colspan="2">
                                <a href="<%=@base_catering_link%>">
                                        <img class="responsive" alt="<%=@base_catering_alt%>" title="<%=@base_catering_alt%>" src="images/header/KF_offer_email_01_d_600_04.jpg" width="96" height="115" border="0"></a></td>
                        <td valign="top" colspan="2">
                                <a href="<%=@base_store_locator_link%>">
                                        <img class="responsive" alt="<%=@base_store_locator_alt%>" title="<%=@base_store_locator_alt%>" src="images/header/KF_offer_email_01_d_600_05.jpg" width="92" height="115" border="0"></a></td>
                      </tr>
                      <tr class="mobile-table-row">
                        <td valign="top" colspan="6">
                            <a href="https://kingsfoodmarkets.com/?utm_source=weeklyemail&utm_medium=email&utm_campaign=KF_ZETA_OFFER_EMAIL_1">
                                <img src="images/header/KF_offer_email_01_m_375_01.jpg" width="375" height="102" border="0" alt="KINGS"></a></td>
                      </tr>
                  </table>
               </td>
              </tr>
            <tr>
             <td>
              <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center" >

            <!-- 600px container -->
           
                <!-- Articles -->
                <% @base_data_file.articles.each do |f| %>


                <% if f["type"]== "live-text" %>

                <tr>
                  <td valign="top">
                     <div class="live-text-container">
                        <div class="live-text-section">
                      <%= f["text"] %>
                      </div>
                  </div>
                  </td>
                </tr>
                <% end %>

          <% if f["type"]== "image" %>
                <tr>
                  <td valign="top" align="center">
                    <a href="<%= f["url"] %>">
                      <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                    </a>
                  </td>
                </tr>
                <% end %>

                <% if f["type"]== "image-2-columns" %>
                      <tr>
                        <td valign="top" align="center">
                    <table  border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">
                      <tr>
                        <td>
                                <a href="<%= f["url"] %>">
                                  <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                                </a>

                        </td>
                        <td>
                                <a href="<%= f["url_2"] %>">
                                  <img src="<%= f["img_2"] %>" alt="<%= f["img_alt_2"] %>" title="<%= f["img_alt_2"] %>" class="responsive">
                                </a>
                        </td>
                      </tr>
                    </table>
                        </td>
                      </tr>
                      <% end %>

                        <% if f["type"]== "image-3-columns" %>
                      <tr>
                        <td valign="top" align="center">
                    <table  border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">
                      <tr>
                        <td>
                                <a href="<%= f["url"] %>">
                                  <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                                </a>

                        </td>
                        <td>
                                <a href="<%= f["url_2"] %>">
                                  <img src="<%= f["img_2"] %>" alt="<%= f["img_alt_2"] %>" title="<%= f["img_alt_2"] %>" class="responsive">
                                </a>
                        </td>
                        <td>
                                <a href="<%= f["url_3"] %>">
                                  <img src="<%= f["img_3"] %>" alt="<%= f["img_alt_3"] %>" title="<%= f["img_alt_3"] %>" class="responsive">
                                </a>
                        </td>
                      </tr>
                    </table>
                        </td>
                      </tr>
                      <% end %>

                      <% if f["type"]== "image-4-columns" %>
                            <tr>
                              <td valign="top" align="center">
                          <table  border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">
                            <tr>
                              <td>
                                      <a href="<%= f["url"] %>">
                                        <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                                      </a>

                              </td>
                              <td>
                                      <a href="<%= f["url_2"] %>">
                                        <img src="<%= f["img_2"] %>" alt="<%= f["img_alt_2"] %>" title="<%= f["img_alt_2"] %>" class="responsive">
                                      </a>
                              </td>

                              <td>
                                      <a href="<%= f["url_3"] %>">
                                        <img src="<%= f["img_3"] %>" alt="<%= f["img_alt_3"] %>" title="<%= f["img_alt_3"] %>" class="responsive">
                                      </a>
                              </td>

                              <td>
                                      <a href="<%= f["url_4"] %>">
                                        <img src="<%= f["img_4"] %>" alt="<%= f["img_alt_4"] %>" title="<%= f["img_alt_4"] %>" class="responsive">
                                      </a>
                              </td>
                            </tr>
                          </table>
                              </td>
                            </tr>
                            <% end %>

                <% end %>
          
              <!-- /600px container -->
              </table>
          </td>
        </tr>
          <!-- Footer logo -->
               <tr>
                  <td>
                      <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center" bgcolor="#5e4332">
                          <tr class="desktop-table-row">
                              <td valign="top" align="center">
                                  <!-- <a href="<%=@base_footer_site_link%>"> -->
                                      <img src="images/footer/KF_offer_email_01_d_600_14.jpg" alt="<%=@base_footer_site_alt%>" title="<%=@base_footer_site_alt%>" class="responsive">
                                  <!-- </a> -->
                              </td>
                              <td valign="top" align="center">
                                  <a href="<%=@base_footer_facebook_link%>">
                                      <img src="images/footer/KF_offer_email_01_d_600_15.jpg" alt="<%=@base_footer_facebook_alt%>" title="<%=@base_footer_facebook_alt%>" class="responsive">
                                  </a>
                              </td>
                              <td valign="top" align="center">
                                  <a href="<%=@base_footer_twitter_link%>">
                                      <img src="images/footer/KF_offer_email_01_d_600_16.jpg" alt="<%=@base_footer_twitter_alt%>" title="<%=@base_footer_twitter_alt%>" class="responsive">
                                  </a>
                              </td>
                              <td valign="top" align="center">
                                  <a href="<%=@base_footer_youtube_link%>">
                                      <img src="images/footer/KF_offer_email_01_d_600_17.jpg" alt="<%=@base_footer_youtube_alt%>" title="<%=@base_footer_youtube_alt%>" class="responsive">
                                  </a>
                              </td>
                              <td valign="top" align="center">
                                  <a href="<%=@base_footer_instagram_link%>">
                                      <img src="images/footer/KF_offer_email_01_d_600_18.jpg" alt="<%=@base_footer_instagram_alt%>" title="<%=@base_footer_instagram_alt%>" class="responsive">
                                  </a>
                              </td>
                              <td valign="top" align="center">
                                  <a href="<%=@base_footer_pinterest_link%>">
                                      <img src="images/footer/KF_offer_email_01_d_600_19.jpg" alt="<%=@base_footer_pinterest_alt%>" title="<%=@base_footer_pinterest_alt%>" class="responsive">
                                  </a>
                              </td>
                              <td valign="top" align="center">
                                  <!-- <a href="<%=@base_footer_site_link_2%>"> -->
                                      <img src="images/footer/KF_offer_email_01_d_600_20.jpg" alt="<%=@base_footer_site_alt_2%>" title="<%=@base_footer_site_alt_2%>" class="responsive">
                                  <!-- </a> -->
                              </td>
                          </tr>
                          <tr class="mobile-table-row">
                            <td valign="top" colspan="6">
                                <a href="<%=@base_weekly_circular_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_10.jpg" width="375" height="54" border="0" alt="<%=@base_weekly_circular_alt%>" title="<%=@base_weekly_circular_alt%>"></a></td>
                        </tr>
                        <tr class="mobile-table-row">
                            <td valign="top" colspan="6">
                                <a href="<%=@base_chef_prepared_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_11.jpg" width="375" height="48" border="0" alt="<%=@base_chef_prepared_alt%>" title="<%=@base_chef_prepared_alt%>"></a></td>
                        </tr>
                        <tr class="mobile-table-row">
                            <td valign="top" colspan="6">
                                <a href="<%=@base_catering_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_12.jpg" width="375" height="47" border="0" alt="<%=@base_catering_alt%>" title="<%=@base_catering_alt%>"></a></td>
                        </tr>
                        <tr class="mobile-table-row">
                            <td valign="top" colspan="6">
                                <a href="<%=@base_store_locator_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_13.jpg" width="375" height="48" border="0" alt="<%=@base_store_locator_alt%>" title="<%=@base_store_locator_alt%>"></a></td>
                        </tr>
                        <tr class="mobile-table-row">
                            <td valign="top">
                                <a href="<%=@base_footer_facebook_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_14.jpg" width="130" height="89" border="0" alt="<%=@base_footer_facebook_alt%>" title="<%=@base_footer_facebook_alt%>"></a></td>
                            <td valign="top">
                                <a href="<%=@base_footer_twitter_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_15.jpg" width="120" height="89" border="0" alt="<%=@base_footer_twitter_alt%>" title="<%=@base_footer_twitter_alt%>"></a></td>
                            <td valign="top">
                                <a href="<%=@base_footer_youtube_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_16.jpg" width="125" height="89" border="0" alt="<%=@base_footer_youtube_alt%>" title="<%=@base_footer_youtube_alt%>"></a></td>
                        </tr>
                      </table>
                      <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0" class="mobile-table" bgcolor="#5e4332">
                        <tr class="mobile-table-row">
                            <td valign="top" colspan="0">
                                <img src="images/footer/KF_offer_email_01_m_375_17.jpg" width="75" height="86" alt=""></td>
                            <td valign="top" colspan="0">
                                <a href="<%=@base_footer_instagram_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_18.jpg" width="113" height="86" border="0" alt="<%=@base_footer_instagram_alt%>" title="<%=@base_footer_instagram_alt%>"></a></td>
                            <td valign="top" colspan="0">
                                <a href="<%=@base_footer_pinterest_link%>">
                                    <img src="images/footer/KF_offer_email_01_m_375_19.jpg" width="111" height="86" border="0" alt="<%=@base_footer_pinterest_alt%>" title="<%=@base_footer_pinterest_alt%>"></a></td>
                            <td valign="top" colspan="0">
                                <img src="images/footer/KF_offer_email_01_m_375_20.jpg" width="76" height="86" alt=""></td>
                        </tr>
                    </table>
                  </td>
                </tr> 
        <!-- /Footer logo -->
            </table>
          </td>
        </tr>
    </table>
    <!-- /100% background wrapper -->
  </body>
</html>
