<% require 'active_support/all' %>
<% instance_variable_set("@base_data_file", data.buybuyBaby.bbb_600_template.bbb_600_template) %>
<% @base_data_file.each{|variable, value| instance_variable_set("@base_#{variable}", value)} %>

<style type="text/css">
    /* This style block will be inlined when running 'grunt build' and stripped from the header */

    table td {
        border-collapse: collapse;
    }
    img {
        display: block;
        margin: 0;
    }

</style>
<!-- Header -->
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%=@base_instore_img_link%>">
                <img src="<%=@base_instore_img_url%>" alt="<%=@base_instore_img_alt%>" title="<%=@base_instore_img_alt%>" border="0" width="<%=@base_instore_img_width%>" height="<%=@base_instore_img_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_logo_img_link%>">
                <img src="<%=@base_logo_img_url%>" alt="<%=@base_logo_img_alt%>" title="<%=@base_logo_img_alt%>" border="0" width="<%=@base_logo_img_width%>" height="<%=@base_logo_img_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_babyreg_img_link%>">
                <img src="<%=@base_babyreg_img_url%>" alt="<%=@base_babyreg_img_alt%>" title="<%=@base_babyreg_img_alt%>" border="0" width="<%=@base_babyreg_img_width%>" height="<%=@base_babyreg_img_height%>">
            </a>
        </td>
    </tr>
</table>
<!-- Nav -->
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%=@base_whatsnew_nav_link%>">
                <img src="<%=@base_whatsnew_nav_url%>" alt="<%=@base_whatsnew_nav_alt%>" title="<%=@base_whatsnew_nav_alt%>" border="0" width="<%=@base_whatsnew_nav_width%>" height="<%=@base_whatsnew_nav_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_shop_nav_link%>">
                <img src="<%=@base_shop_nav_url%>" alt="<%=@base_shop_nav_alt%>" title="<%=@base_shop_nav_alt%>" border="0" width="<%=@base_shop_nav_width%>" height="<%=@base_shop_nav_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_clearance_nav_link%>">
                <img src="<%=@base_clearance_nav_url%>" alt="<%=@base_clearance_nav_alt%>" title="<%=@base_clearance_nav_alt%>" border="0" width="<%=@base_clearance_nav_width%>" height="<%=@base_clearance_nav_height%>">
            </a>
        </td>
    </tr>
</table>
<!-- Articles -->
<% @base_data_file.articles.each do |f| %>
<% if f["type"]=="image" %>
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%= f[" image_url"] %>">
                <img src="<%= f[" image_url"] %>" alt="<%= f[" image_alt"] %>" title="<%= f[" image_alt"] %>" border="0" width="<%= f[" image_width"] %>" height="<%= f[" image_height"] %>">
            </a>
        </td>
    </tr>
</table>
<% end %>
<% if f["type"]=="images-2-columns" %>
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%= f[" image_first_link"] %>">
                <img src="<%= f[" image_first_url"] %>" alt="<%= f[" image_first_alt"] %>" title="<%= f[" image_first_alt"] %>" border="0" width="<%= f[" image_first_width"] %>" height="<%= f[" image_first_height"] %>">
            </a>
        </td>
        <td>
            <a href="<%= f[" image_second_link"] %>">
                <img src="<%= f[" image_second_url"] %>" alt="<%= f[" image_second_alt"] %>" title="<%= f[" image_second_alt"] %>" border="0" width="<%= f[" image_second_width"] %>" height="<%= f[" image_second_height"] %>">
            </a>
        </td>
    </tr>
</table>
<% end %>

<% if f["type"]=="images-3-columns" %>
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%= f[" image_first_url"] %>">
                <img src="<%= f[" image_first_url"] %>" alt="<%= f[" image_first_alt"] %>" title="<%= f[" image_first_alt"] %>" border="0" width="<%= f[" image_first_width"] %>" height="<%= f[" image_first_height"] %>">
            </a>
        </td>
        <td>
            <a href="<%= f[" image_second_url"] %>">
                <img src="<%= f[" image_second_url"] %>" alt="<%= f[" image_second_alt"] %>" title="<%= f[" image_second_alt"] %>" border="0" width="<%= f[" image_second_width"] %>" height="<%= f[" image_second_height"] %>">
            </a>
        </td>
        <td>
            <a href="<%= f[" image_third_url"] %>">
                <img src="<%= f[" image_third_url"] %>" alt="<%= f[" image_third_alt"] %>" title="<%= f[" image_third_alt"] %>" border="0" width="<%= f[" image_third_width"] %>" height="<%= f[" image_third_height"] %>">
            </a>
        </td>
    </tr>
</table>
<% end %>
<% end %>
<table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>
            <a href="<%=@base_facebook_link%>">
                <img src="<%=@base_facebook_url%>" alt="<%=@base_facebook_alt%>" title="<%=@base_facebook_alt%>" border="0" width="<%=@base_facebook_width%>" height="<%=@base_facebook_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_twitter_link%>">
                <img src="<%=@base_twitter_url%>" alt="<%=@base_twitter_alt%>" title="<%=@base_twitter_alt%>" border="0" width="<%=@base_twitter_width%>" height="<%=@base_twitter_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_pinterest_link%>">
                <img src="<%=@base_pinterest_url%>" alt="<%=@base_pinterest_alt%>" title="<%=@base_pinterest_alt%>" border="0" width="<%=@base_pinterest_width%>" height="<%=@base_pinterest_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_youtube_link%>">
                <img src="<%=@base_youtube_url%>" alt="<%=@base_youtube_alt%>" title="<%=@base_youtube_alt%>" border="0" width="<%=@base_youtube_width%>" height="<%=@base_youtube_height%>">
            </a>
        </td>
        <td>
            <a href="<%=@base_instgram_link%>">
                <img src="<%=@base_instgram_url%>" alt="<%=@base_instgram_alt%>" title="<%=@base_instgram_alt%>" border="0" width="<%=@base_instgram_width%>" height="<%=@base_instgram_height%>">
            </a>
        </td>
    </tr>
</table>
<!-- Zita Footer -->
<!-- <table border="0" width="600" cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td>

        </td>
    </tr>
</table> -->
