<% require 'active_support/all' %>
<% instance_variable_set("@base_data_file", data.balduccis.BLD_091819_Italian_Solo_Email.BLD_091819_Italian_Solo_Email) %>
<% @base_data_file.each{|variable, value| instance_variable_set("@base_#{variable}", value)} %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- So that mobile webkit will display zoomed in -->
    <meta name="format-detection" content="telephone=no">
    <!-- disable auto telephone linking in iOS -->
    <title>
        <%=@base_title%>
    </title>
    <style type="text/css">
    body {
        margin: 0;
    }

    #VWPLINK {
        background-color: #f6f5f3 !important;
    }

    .live-text-section {
        font-family: arial;
        line-height: 1.3;

    }

    .live-text-container {
        margin: 10px 45px;
    }

    .live-text-link {
        color: #e98003;
    }

    .mobile-break {
        display: inline-block;
    }

    .desktop {
        display: block !important;
    }

    .mobile {
        display: none !important;
    }

    .desktop-table {
        display: table !important;
    }

    .bt-320 {
        width: 320px !important;
        height: auto !important;
        background-color: #000000 !important;
    }

    .desktop-table-row {
        display: table-row !important;
    }

    .mobile-table {
        display: none !important;
    }

    .mobile-table-row {
        display: none !important;
    }

    
    </style>
    <style type="text/css" data-embed>
    /* This style block will be ignored for inlining when running 'grunt build' and will not be stripped from the header */

    /*  Media queries */

    /* Define all styles in media queries using attribute selectors in order to avoid Yahoo mail rendering the mobile version of the email for desktop */
 /*   #VWPLINK {
        background-color: <%=@base_background_color%>  !important;
    }
*/
    @media screen and (max-width: 600px) {
        .desktop {
            display: none !important;
        }

        .mobile {
            display: block !important;
        }

        .header {
            width: 100% !important;
            height: auto !important;
        }

        .desktop-table {
            display: none !important;
        }


        .desktop-table-row {
            display: none !important;
        }

        .mobile-table {
            display: table !important;
        }

        .mobile-table-row {
            display: table-row !important;
        }

        .mobile-break {
            display: block;
        }

        td img {
            width: 100% !important;
            /*display: block;*/
            max-width: 100%;
            height: auto;
        }

        #table-container {
            width: 100% !important;
        }

        .body-container {
            padding: 15px;
        }

        .hide {
            display: none !important;
        }

        .show {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            float: none !important;
            max-height: inherit !important;
            line-height: inherit !important;
        }
    }
    </style>
  </head>
  <body bgcolor="<%=@base_background_color%>" >

    <div id="VWPLINK">
      <table bgcolor="#f6f5f3" cellpadding="0" cellspacing="0" align="center">
      <!--
      Responsive framework: Antwort v1.0 - https://github.com/InterNations/antwort/wiki/Columns-to-Rows-(Version-1.0)

      * Force 100% width on aligned tables
      * Use multiple aligned tables for columns
      * Tables must have a fixed pixel width
      * 'force-row' class forces the tables into rows on mobile
      * Include an Outlook only wrapper table
    -->

     <!-- 100% background wrapper -->

    <tr>
      <td>
        <table id="table-container" align="center" width="600" bgcolor="#f6f5f3" border="0" cellpadding="0" cellspacing="0">
        <!-- 600px container -->
        <tr>
            <td style="border-collapse:collapse; padding: 5px; color: #000000;" valign="top" align="right">
              <a href="%7B%7Bview_email_in_browser_link%7D%7D" style="color: #000000;">View as Web Page </a>
            </td>
        </tr>

    <!-- Header logo -->
      <tr>
      <td align="left" valign="top">
        <table width="100%"  border="0" cellpadding="0" cellspacing="0" class="hide" bgcolor="#333333">
          <tbody>
          <tr class="desktop-table-row">
              <td  align="left" valign="bottom">
                  <a href="<%=@base_logo_link%>">
                      <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;"alt="<%=@base_logo_alt%>" title="<%=@base_logo_alt%>" src="images/header/BLD_header_desktop_01.jpg" border="0" width="233" height="89"></a>
                    </td>
              <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hide" bgcolor="#333333">
            <tr>
              <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hide" bgcolor="#333333">
                  <tr>
              <td align="left" valign="bottom">
                  <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/header/BLD_header_desktop_02.jpg" width="100" height="45"></td>
              <td align="left" valign="bottom">
                  <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/header/BLD_header_desktop_03.jpg" width="117" height="45"></td>
              <td  align="left" valign="bottom">
                  <a href="<%=@base_store_locator_link%>">
                      <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_store_locator_alt%>" title="<%=@base_store_locator_alt%>" src="images/header/BLD_header_desktop_04.jpg"  border="0" width="150" height="45"></a></td>
          </tr>
      </table>
      </td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hide" bgcolor="#333333">
          <tr >
              <td align="left" valign="top">
                  <a href="<%=@base_catering_link%>">
                      <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_catering_alt%>" title="<%=@base_catering_alt%>" src="images/header/BLD_header_desktop_05.jpg"  border="0" width="101" height="44"></a></td>
              <td  align="left" valign="top">
                  <a href="<%=@base_chef_prepared_link%>">
                      <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_chef_prepared_alt%>" title="<%=@base_chef_prepared_alt%>" src="images/header/BLD_header_desktop_06.jpg"  border="0" width="117" height="44"></a></td>
              <td  align="left" valign="top">
                  <a href="<%=@base_my_balduccis_link%>">
                      <img  alt="<%=@base_my_balduccis_alt%>" title="<%=@base_my_balduccis_alt%>" src="images/header/BLD_header_desktop_07.jpg"  border="0" width="150" height="44"></a></td>
          </tr>
           </table>
         </td>
        </tr>
        </table>
        </td>
        </tr>
      </tbody>
      </table>
      </td>
      </tr>
      <tr>
            <td align="left" valign="top" class="hide">
              <a href="<%=@base_gourmet_link%>">
                <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_gourmet_alt%>" title="<%=@base_gourmet_alt%>"  src="images/header/BLD_header_desktop_08.jpg" width="601" height="42" border="0"></a></td>
          </tr>
          <!--[if !mso]><!-->
          <div class="show mobile" style="display:none; overflow:hidden; width:0; max-height:0; line-height:0;">
          <tr class="mobile-table-row">
              <td valign="top" align="center" class="header" bgcolor="#ffffff">
                <a href="<%=@base_logo_link%>">
                  <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_logo_alt%>" title="<%=@base_logo_alt%>" src="images/header/BLD_header_mobile_01.jpg">
                </a>
              </td>
            </tr>
            <tr class="mobile-table-row">
              <td valign="top" align="center" class="header" bgcolor="#ffffff">
                <a href="<%=@base_gourmet_link%>">
                  <img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="<%=@base_gourmet_alt%>" title="<%=@base_gourmet_alt%>" src="images/header/BLD_header_mobile_02.jpg">
                </a>
              </td>
            </tr>
          </div>
            <!--<![endif]-->
    <tr>
      <td>
          <table border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center" >

                      <!-- /Header logo -->
            <tr>
                <td>
                  <table align="center" bgcolor="#FFFFFF" width="100%" border="0" cellpadding="0" cellspacing="0">
                      <!-- Articles -->
                      <% @base_data_file.articles.each do |f| %>

                <% if f["type"]== "live-text" %>
                      <tr>
                        <td valign="top" align="center">
                           <div class="live-text-container">
                              <div class="live-text-section">
                            <%= f["text"] %>
                            </div>
                        </div>
                        </td>
                      </tr>
                      <% end %>

                <% if f["type"]== "image" %>
                      <tr>
                        <td valign="top" align="center">
                          <a href="<%= f["url"] %>">
                            <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                          </a>
                        </td>
                      </tr>
                      <% end %>
                <% if f["type"]== "image-2-columns" %>
                      <tr>
                        <td valign="top" align="center">
                    <table  border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">
                      <tr>
                        <td>
                                <a href="<%= f["url"] %>">
                                  <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                                </a>

                        </td>
                        <td>
                                <a href="<%= f["url_2"] %>">
                                  <img src="<%= f["img_2"] %>" alt="<%= f["img_alt_2"] %>" title="<%= f["img_alt_2"] %>" class="responsive">
                                </a>
                        </td>
                      </tr>
                    </table>
                        </td>
                      </tr>
                      <% end %>
                <% if f["type"]== "image-3-columns" %>
                      <tr>
                        <td valign="top" align="center">
                    <table  border="0" width="100%" cellpadding="0" cellspacing="0" class="container" align="center">
                      <tr>
                        <td>
                                <a href="<%= f["url"] %>">
                                  <img src="<%= f["img"] %>" alt="<%= f["img_alt"] %>" title="<%= f["img_alt"] %>" class="responsive">
                                </a>

                        </td>
                        <td>
                                <a href="<%= f["url_2"] %>">
                                  <img src="<%= f["img_2"] %>" alt="<%= f["img_alt_2"] %>" title="<%= f["img_alt_2"] %>" class="responsive">
                                </a>
                        </td>
                        <td>
                                <a href="<%= f["url_3"] %>">
                                  <img src="<%= f["img_3"] %>" alt="<%= f["img_alt_3"] %>" title="<%= f["img_alt_3"] %>" class="responsive">
                                </a>
                        </td>
                      </tr>
                    </table>
                        </td>
                      </tr>
                      <% end %>
          <% end %>
           </table>
            </td>
              </tr>
              </table>
              </td>
            </tr>
                      <!-- Footer logo -->
      <tr>
        <td align="center" valign="top">
          <table width="100%" border="0" cellspacing="0" cellpadding="0" class="hide" bgcolor="#333333">
            <tbody>
                <tr>

                      <td valign="top">
                          <img  src="images/footer/BLD_footer_desktop_01.jpg" width="133" height="68" alt=""></td>
                      <td valign="top">
                          <a href="<%=@base_footer_facebook_link%>">
                              <img  src="images/footer/BLD_footer_desktop_02.jpg" width="80" height="68" border="0" alt="<%=@base_footer_facebook_alt%>" title="<%=@base_footer_facebook_alt%>"></a></td>
                      <td valign="top" colspan="2">
                          <a href="<%=@base_footer_twitter_link%>">
                              <img  src="images/footer/BLD_footer_desktop_03.jpg" width="87" height="68" border="0" alt="<%=@base_footer_twitter_alt%>" title="<%=@base_footer_twitter_alt%>"></a></td>
                      <td valign="top" colspan="2">
                          <a href="<%=@base_footer_instagram_link%>">
                              <img  src="images/footer/BLD_footer_desktop_04.jpg" width="89" height="68" border="0" alt="<%=@base_footer_instagram_alt%>" title="<%=@base_footer_instagram_alt%>"></a></td>
                      <td valign="top" colspan="2">
                          <a href="<%=@base_footer_pintrest_link%>">
                              <img  src="images/footer/BLD_footer_desktop_05.jpg" width="77" height="68" border="0" alt="<%=@base_footer_pintrest_alt%>" title="<%=@base_footer_pintrest_alt%>"></a></td>
                      <td valign="top">
                          <img  src="images/footer/BLD_footer_desktop_06.jpg" width="135" height="68" alt=""></td>
                   </tr>
                  </tbody>
                  </table>
                  </td>
                </tr>
                <!--- start mobile --->
                  <tr>
                      <td align="center" valign="top">
                        <!--[if !mso]><!-->
                          <div class="show" style="display:none; overflow:hidden; width:0; max-height:0; line-height:0; background-color: #333333;">
                              <table width="100%" border="0" cellspacing="0" cellpadding="0" class="header">
                              <tbody>
                          <tr>
                          <td align="center" valign="top">
                          <a href="<%=@base_store_locator_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_01.jpg" width="100%" height="54" border="0" alt="<%=@base_store_locator_alt%>" title="<%=@base_store_locator_alt%>"></a></td>
                  </tr>
                  <tr>
                      <td align="center" valign="top">
                          <a href="<%=@base_catering_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_02.jpg" width="100%" height="48" border="0" alt="<%=@base_catering_alt%>" title="<%=@base_catering_alt%>"></a></td>
                  </tr>
                  <tr>
                      <td align="center" valign="top">
                          <a href="<%=@base_chef_prepared_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_03.jpg" width="100%" height="47" border="0" alt="<%=@base_chef_prepared_alt%>" title="<%=@base_chef_prepared_alt%>"></a></td>
                  </tr>
                  <tr>
                      <td align="center" valign="top">
                          <a href="<%=@base_my_balduccis_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_04.jpg" width="100%" height="48" border="0" alt="<%=@base_my_balduccis_alt%>" title="<%=@base_my_balduccis_alt%>"></a></td>
                  </tr>
                  <tr >
                      <td align="center" valign="top">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#333333">
                            <tbody>
                            <tr>
                            <td align="center" valign="top">
                          <a href="<%=@base_footer_facebook_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_05.jpg" width="94" height="67" border="0" alt="<%=@base_footer_facebook_alt%>" title="<%=@base_footer_facebook_alt%>"></a></td>
                      <td align="center" valign="top">
                          <a href="<%=@base_footer_twitter_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_06.jpg" width="94" height="67" border="0" alt="<%=@base_footer_twitter_alt%>" title="<%=@base_footer_twitter_alt%>"></a></td>
                      <td align="center" valign="top">
                          <a href="<%=@base_footer_instagram_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_07.jpg" width="93" height="67" border="0" alt="<%=@base_footer_instagram_alt%>" title="<%=@base_footer_instagram_alt%>"></a></td>
                      <td align="center" valign="top">
                          <a href="<%=@base_footer_pintrest_link%>">
                              <img  style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="images/footer/BLD_footer_mobile_08.jpg" width="94" height="67" border="0" alt="<%=@base_footer_pintrest_alt%>" title="<%=@base_footer_pintrest_alt%>"></a></td>
     </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!--<![endif]-->
                            </td>
                        </tr>
                        <!--- end mobile --->
            <tr>
                            <td style="border-collapse:collapse; padding: 10px; color: #000000;" valign="top" align="center">
                                To unsubscribe from future marketing emails, please
                                <a href="https://urldefense.proofpoint.com/v2/url?u=https-3A__form.email.balduccis.com_balducci_unsubscribe-3Fencuid-3D-257B-257Buid-257Cbase64-5Fencode-257D-257D-26ence-3D-257B-257Brecipient-5Femail-257Cbase64-5Fencode-257D-257D&d=DwMGaQ&c=BnNvQ1ZchJY0mifM8Xc0OQ&r=qVu69ONoaNl01HjGE2LOku821KguxqhY017HuM5_5_4&m=c-hot7zMhvbn-JNQxFNqBlCWIpUTtNf83PkxxDUS2g4&s=iz7PY2uMHb6sepLgEGt7J54BpPNLW6rXS6AOGaNQMho&e=" target="_blank" style="color: #000000;">click here.</a>
                      </td>
                  </tr>
          </table>
      </td>
    </tr>
</table>
  <!-- /100% background wrapper -->
    </div>
  </body>
</html>
