	<% require 'active_support/all' %>
<% instance_variable_set("@base_data_file", data.sprichards.SPR_100818_CA_Weekly.SPR_100818_CA_Weekly) %>
<% @base_data_file.each{|variable, value| instance_variable_set("@base_#{variable}", value)} %>
<!-- WRAP THE CONTENT TABLE WITH A FULL BODY TABLE -->
<table width="100%" bgcolor="#FFFFFF" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="border-collapse:collapse;" valign="top">
            <table align="center" bgcolor="<%=@base_background_color%>" width="580" border="0" cellpadding="0" cellspacing="0" >
<!-- Save for Web Slices (SPR_123_070517_CA_Canada_R2_DEV.psd) -->
				<table id="Table_01" width="580" height="3855" border="0" cellpadding="0" cellspacing="0">
					<!--HEADER-->
					<table align="center" bgcolor="<%=@base_background_color%>" width="580" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td style="border-collapse:collapse;" valign="top" width="580" height="70" ><a href="*$website_P01$*" sllabel="Website"><img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" alt="Company Logo" height="70" src="/images/spacer.png" style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0px;width:580px;height:70px;" slcomponent="photo1_CUS" sllabel="Logo_580x70" title="photo1_CUS" width="580" /></a></td>
						</tr>
					</table>
					<!--END HEADER-->

					<!--ARTICLES-->
				<% @base_data_file.articles.each do |f| %>
					<% if f["type"]=="table" %>
						<table align="center" bgcolor="<%=@base_background_color%>" width="580" border="0" cellpadding="0" cellspacing="0">
							<tr>
								<% f["data"].each do |entry| %>
									<% if entry[0]!="footer" %>
										<td style="border-collapse:collapse;" valign="top" width="<%= entry[3] %>" height="<%= entry[4] %>" <% if entry[0]=="text" %> bgcolor="<%= entry[6] %>" <% end %>>
											<a style="text-decoration:none" href="<%= entry[2] %>">
												<% if entry[0]=="image" %>
												<img style="outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; display:block; border: 0; margin: 0;" src="<%= entry[1] %>"  border="0" alt="" width="<%= entry[3] %>" height="<%= entry[4] %>"/>
												<% end %>
												<% if entry[0]=="text" %>
												<span style="text-decoration:none;font-weight:bold;font-family:sans-serif;"><font face="Arial, Helvetica" size="5" color="<%= entry[7] %>"><b>$</b><b sllabel="<%= entry[5] %>" slcomponent="<%= entry[8] %>"></b></font></span>
												<% end %>
											</a>
										</td>
									<% else %>
										<td style="border-collapse:collapse;" width="<%= entry[3] %>" height="<%= entry[4] %>" align="center" bgcolor="<%= entry[6] %>">
											<center>
												<font style="font-family:Arial, Helvetica, sans-serif;font-size:18px;text-align:center;line-height:23px;font-weight:bold;" size="5" color="#ffffff">All offers valid now through close of business day </font><span style="font-weight:bold;font-family:sans-serif;color:#ffffff;"><font face="Arial, Helvetica" size="4"><b sllabel="Footer Info" slcomponent="linetext13_CUS"></b></font></span><br /><font style="font-family:Arial, Helvetica, sans-serif;color:#ffffff;font-size:15px;text-align:center;line-height:20px;font-weight:300;" size="4" color="#ffffff">Click on products for additional information. While supplies last.</font><br /><font style="font-family:Arial, Helvetica, sans-serif;color:#ffffff;font-size:13px;text-align:center;line-height:17px;font-weight:300;" size="3" color="#ffffff"><br />Not responsible for typographical errors. Subject to price and availability changes.</font>
											</center>
										</td>
									<% end %>
								<% end %>
							</tr>
						</table>
					<% end %>
				<% end %>
				</table>
<!-- End Save for Web Slices -->
            </table>
        </td>
    </tr>
</table>