<html>
<head>
	
	<style type="text/css" data-embed="data-embed">

    .container {
      display: table;
      }

    .row  {
      display: table-row;
      }

    .left, .right, .middle {
      display: table-cell;
      }
	  
	  .filePath {
		  font-family: "Courier New", Monospace;
		  font-size: 75%;
	  }
	</style>	
</head>
 <body>
 
<br/>
<hr/>
<%  directories = Dir.entries("./build") 
    directories.reject! {|item| item =~ /\.\/build\/index.html|snippets|examples|content_template|\.|\.\.|images|index\.html|javascripts|stylesheets|\*|\*\*/i }
    directories.each do |directory_name| 
%>
<h2><%= directory_name %></h2></br></br>

<div class="container">


    <%     
        files_html = Dir.glob("./build/"+directory_name+"/**/*.html")
        files_txt = Dir.glob("./build/"+directory_name+"/**/*.txt")
%>
<%		
        files_html.reject! {|item| item =~ /\.\/build\/index.html|snippets|examples|content_template/i }
        files_html.each do |file_name| 
	        file_contents = IO.read(file_name)
	        file_title = /(\<title\>)(.*)(\<\/title\>)/.match(file_contents)
			file_extension = (file_name.last(file_name.length-file_name.rindex('.')-1)).upcase
			txt_file_name = file_name.first(file_name.rindex('.'))+".txt"
			has_text = files_txt.include?(txt_file_name)
			if file_title==nil
				file_title = file_contents.lines[0]
			 else
				file_title = file_title[2]
			end
	    %>
			<div class="row">
				<div class="left">
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				</div>
				<div class="middle">
					<h4>
						<%= file_title %>
					</h4>
					&nbsp;&nbsp;
				</div>
				<div class="middle">
					<span class="filePath">[<%= file_name[('./build/'+directory_name+'/').length,file_name.rindex('/')-('./build/'+directory_name+'/').length] %>]</span>
					&nbsp;&nbsp;
				</div>
				<div class="right">
					<h4>
						<a href="<%= file_name[('./build/').length,file_name.length] %>">HTML</a><% if has_text==true %> - <a href="<%= txt_file_name[('./build/').length,txt_file_name.length] %>">TXT</a><% end %>
					</h4>
				</div>
			</div>
    	<% end %>
</div>
<hr/>
<br/>
 <% end %>

</body>